.city {
  font-family: "Work Sans", sans-serif;
}

.temp {
  font-size: 7rem;
}

.card {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

body {
  font-family: "DM Sans", sans-serif;
}

.search {
  border-radius: 25px;
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  color: #f3e7e9;
}

.search:hover {
  color: #f3e7e9;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
