.city {
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
}

.temp {
  font-size: 7rem;
}

@media only screen and (max-width: 600px) {
  .temp {
    font-size: 4rem;
  }
}

ul {
  list-style-type: none;
  padding-inline-start: unset;
  font-size: 1.2rem;

}

.card {
  background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
  border: 5px solid rgba(0,0,0,.125);
}

body {
  font-family: "DM Sans", sans-serif;
}

li:first-letter {
  text-transform: capitalize;
}

.img-50 {
  height: 50px;
  display: block;
  margin: 0 auto;
}

.align-center {
  display: inline-flex;
  align-items: center;
}

a {
  color: #e14fad!important;
  text-decoration: none!important;
  border-bottom: 2px solid #50cc7f!important;
  transition-duration: .5s;
}

a:hover {
  background: #50cc7f;
}
